# SQL Joins: TMDb Database

## The TMDb Database

In this challenge you will be exploring the [The Movie Database](https://www.themoviedb.org/) - an online movie and TV show database, which houses some of the most popular movies and TV shows at your finger tips. The TMDb database supports 39 official languages used in over 180 countries daily and dates all the way back to 2008. 


<img src="https://github.com/Explore-AI/Pictures/blob/master/sql_tmdb.jpg?raw=true" width=80%/>


Below is an Entity Relationship diagram(ERD) of the TMDb database:

<img src="https://github.com/Explore-AI/Pictures/blob/master/TMDB_ER_diagram.png?raw=true" width=70%/>

As can be seen from the ER diagram, the TMDb database consists of `12 tables` containing information about movies, cast, genre and so much more.  

Let's get started!

## Loading the database

To begin and start making use of SQL queries you need to prepare your SQL environment you can do this by loading in the magic command `%load_ext sql`, next you can go ahead and load in your database. To do this you will need to ensure you have downloaded the `TMDB.sql`sqlite file. Now that you have all the prerequisites you can go ahead and load it into the notebook.

In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///TMDB.db

## Questions on SQL Join Statements 

Use the given cell below each question to execute your SQL queries to find the correct input from the options provided for the multiple choice questions on Athena.

**Question 1**

What is the primary key for the table “movies”?

**Options:** 
 - title
 - movie_key
 - film_id
 - movie_id

**Solution**

In [20]:
%%sql 
Select name from pragma_table_info('Movies') where pk=1;

 * sqlite:///TMDB.db
Done.

[('movie_id',)]

**Question 2**

How many foreign keys does the “LanguageMap” table have?

**Options:**

 - 0
 - 2
 - 3
 - 1

**Solution**

In [31]:
%%sql 
select count (*) as Movie_ai
from pragma_foreign_key_list('LanguageMap');

 * sqlite:///TMDB.db
Done.

[(2,)]

**Question 3**

How many movies in the database were produced by Pixar Animation Studios?

**Options:**
 - 16
 - 14
 - 18
 - 20

**Solution**

In [62]:
%%sql 
select count (*) as Movie_ai
from movies
where movie_id in (
    Select movie_id
    from productioncompanymap 
    inner join productioncompanies
    ON productioncompanymap.production_company_id = productioncompanies.production_company_id
    where productioncompanies.production_company_name LIKE 'Pixar Animation Studios');

 * sqlite:///TMDB.db
Done.

[(16,)]

**Question 4**

What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch)

**Options:**
 - The Bourne Identity
 - Mission: Impossible - Rogue Nation
 - Captain America: Civil War
 - Quantum of Solace

**Solution**

In [117]:


%%sql 
SELECT title, popularity 
from movies
INNNER JOIN genremap using(Movie_id)
INNER JOIN genres using(genre_id)
INNER JOIN Languagemap using(Movie_id)
INNER JOIN Languages using(iso_639_1)
WHERE genres.genre_name = 'Action' AND language_name = 'Deutsch'
ORDER BY popularity DESC
LIMIT 5;

 * sqlite:///TMDB.db
Done.

[('Captain America: Civil War', 198.372395),
 ('Mission: Impossible - Rogue Nation', 114.522237),
 ('The Fifth Element', 109.528572),
 ('Quantum of Solace', 107.928811),
 ('Spectre', 107.376788)]

**Question 5**

In how many movies did Tom Cruise portray the character Ethan Hunt? (Hint: Characters are listed in the Casts table.)

**Options:**
 - 4
 - 3
 - 6
 - 5

**Solution**

In [142]:
%%sql 
SELECT count(*) as Movie_ide
from movies
INNER JOIN casts using(movie_id)
INNER JOIN actors using(actor_id)
WHERE actor_name = 'Tom Cruise' AND characters LIKE '%Ethan Hunt%';  


SELECT COUNT(*) AS movie_count
FROM movies
JOIN casts ON movies.movie_id = casts.movie_id
JOIN actors ON casts.actor_id = actors.actor_id
WHERE actors.actor_name = 'Tom Cruise' AND characters LIKE '%Ethan Hunt%' ;

 * sqlite:///TMDB.db
Done.

[(5,)]

**Question 6**

How many times was the actress Cate Blanchett nominated for an Oscar?
 
 **Options:**
 - 7
 - 4
 - 5
 - 2

**Solution**

In [143]:
%%sql 
Select count(*) AS Oscars
From Oscars
Where name = 'Cate Blanchett';

 * sqlite:///TMDB.db
Done.

[(7,)]

**Question 7**

How many movies were nominated for the Best Picture award at the Oscars?
 
**Options:**

 - 12
 - 16
 - 8
 - 18

**Solution**

In [298]:
%%sql 
SELECT COUNT(DISTINCT winner) AS Movie_Count
FROM OSCARS
WHERE name = "Best Picture";

 * sqlite:///TMDB.db
Done.

[(0,)]

**Question 8** 

How many movies contain at least one of the languages, Afrikaans or Zulu?

**Options:**
 - 10
 - 8
 - 12
 - 15

**Solution**

In [206]:
%%sql 
Select count(DISTINCT movie_id ) as movie_ide
from movies
Inner join languagemap using(Movie_id)
Inner join languages using(iso_639_1)
where language_name LIKE '%Zulu%' or language_name LIKE '%Afrikaans%';

 * sqlite:///TMDB.db
Done.

[(8,)]

**Question 9**

In which country was the movie “Star Wars” produced?  

**Options:**
 - Canada
 - United Kingdom
 - France
 - United States of America

**Solution**

In [236]:
%%sql 
select production_country_name as Movie_id
from movies
join productioncountrymap using(movie_id)
join productioncountries using(iso_3166_1)
where title = "Star Wars" ;

 * sqlite:///TMDB.db
Done.

[('United States of America',)]

**Question 10**

How many movies are in the database that are both a Romance and a Comedy?

**Options:**

 - 373
 - 484
 - 262
 - 595

**Solution**

In [273]:
%%sql 


SELECT count(DISTINCT genre_id) AS Movie_Things 
FROM movies 
JOIN genremap USING (movie_id) 
JOIN genres USING (genre_id) 
WHERE genre_name LIKE '%Comedy%' and genre_name LIKE '%Romance%';

 * sqlite:///TMDB.db
Done.

[(0,)]